<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url(https://e0.pxfuel.com/wallpapers/494/897/desktop-wallpaper-life-insurance-background-insurance-health-insurance-and-life-insurance.jpg);background-size: cover;">
<h1 style="font-size: xx-large;margin-top: 500px;margin-left:850px;">Health Insurance</h1>
<a href="/data" style="color: black;font-size: medium;margin-left: 920px;">PREDICTION</a>

</body>
</html>